*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(130deg , black , rgb(109, 109, 253) , black);
  color: white;
  gap: 29px;
}
.heading{
  font-size: 50px;
}
.button{
  /* border: 1px solid red; */
  display: flex;
  gap: 43px;
  align-items: center;
  font-size: 37px;
  justify-content: space-between;
}
.button button{
  /* border: 1px solid white; */
  font-size: 37px;
  padding: 0px 40px;
  border: none;
  outline: none;
  background: gainsboro;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}
.reset{
  font-size: 27px;
  padding: 0px 24px;
  border:none ;
  outline: none;
  background: gainsboro;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}